<h1>LOGIN</h1>

<form method="post" action="/api/sessions/signup">
  <input type="text" placeholder="email" name="email" />
  <br />
  <input type="password" placeholder="password" name="password" />
  <br />
  <button type="submit">Login</button>
</form>