<div>
  <div>
    <h2>Cart</h2>
  </div>
  <div id="onecart"></div>
  <div>
    {{#each carts}}
      <h2>ID {{_id}}</h2>
      {{#each products}}
        <h3>{{@index}}: {{this}}</h3>
      {{/each}}
    {{/each}}
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>